<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.tillt.homy</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/till/bin/homy.sh</string>
            <string>-o</string>
            <string>Boulderdash5</string>
            <string>-w</string>
            <string>D2iQ</string>
            <string>-t</string>
            <string>/usr/local/share/homy</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>UserName</key>
        <string>root</string>
        <key>StandardErrorPath</key>
        <string>/usr/local/var/log/homy.log</string>
        <key>StandardOutPath</key>
        <string>/usr/local/var/log/homy.log</string>
    </dict>
</plist>
